# Posted by user 'keith' in the Node Pilot Discord on 02/25/2022 in #discussions. Thanks, Keith!
# Managed by Ansible.

[Unit]
Description=Node Pilot
Wants=network.target
Requires=docker.service
After=network-online.target docker.service

[Service]
User={{ np_admin }}
Type=simple
ExecStart={{ np_bin_path }}
Restart=always
RestartSec=10
# Should KillMode be set to "mixed"?
KillMode=process

[Install]
WantedBy=multi-user.target